<html >
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"> 
</head>
  <body> 
      <div class="card">

<div *ngIf="operation == 'ADD' || operation =='EDIT'">
<div class="card-header text-right" >
    {{operation == 'ADD' ? 'ادخال' :
      operation == 'EDIT' ? 'تغيير' :''}}
منتفع

</div>


<div class="card-body">
    <form [formGroup]="missionnaireForm" (ngSubmit)="missionnaireForm.valid" >
      <div class="row">
      <div class="form-group col-md-4  text-right" >
        <label> مكانها </label>
        <input type="text" class="form-control text-right" formControlName="place_cin" 
        [(ngModel)]="selectedMissionnaire.place_cin"  required
        [ngClass]="{'is-invalid':missionnaireForm.get('place_cin').touched && missionnaireForm.get('place_cin').invalid}"
        >
      </div>
      <div class="form-group col-md-4 text-right" >
        <label for="delivre"> المسلمة يوم </label>
        <input type="date" class="form-control text-right" formControlName="date_cin"      
        [(ngModel)]="selectedMissionnaire.date_cin" required
        [ngModel] ="selectedMissionnaire.date_cin|date:'yyyy-MM-dd'"
        [ngClass]="{'is-invalid':missionnaireForm.get('date_cin').touched && missionnaireForm.get('date_cin').invalid}"

        >
      </div>
     
      <div class="form-group col-md-4 text-right">
        <label for="cin"> الهوية الوطنية </label>
        <input type="text" class="form-control text-right" formControlName="cin"  required
        placeholder="Tapez dans ce champ 8 chiffres" autofocus pattern="[0-9]{8}" 
        name="cin" [(ngModel)]="selectedMissionnaire.cin" maxlength="8" 
        [ngClass]="{'is-invalid':missionnaireForm.get('cin').touched && missionnaireForm.get('cin').invalid}"

        >
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-6 text-right">
        <label>مكانها</label>
        <input type="text" class="form-control text-right" formControlName="place_naissance" required
        [(ngModel)]="selectedMissionnaire.place_naissance" 
        [ngClass]="{'is-invalid':missionnaireForm.get('place_naissance').touched && missionnaireForm.get('place_naissance').invalid}"

        >
      </div>
        <div class="form-group col-md-6 text-right">
          <label> تاريخ الولادة </label>
         
          <input type="date" class="form-control" formControlName="datenaissance" required
          min="1930-01-01" max="1999-12-31"
          [(ngModel)]="selectedMissionnaire.datenaissance"
          [ngModel] ="dateNais|date:'yyyy-MM-dd'"
          [ngClass]="{'is-invalid':missionnaireForm.get('datenaissance').touched && missionnaireForm.get('datenaissance').invalid}"

          >
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
          <label> RIB </label>
          <input type="text" class="form-control text-right" formControlName="rib" required
          [(ngModel)]="selectedMissionnaire.rib" 
          [ngClass]="{'is-invalid':missionnaireForm.get('rib').touched && missionnaireForm.get('rib').invalid}"

          >
        </div>

        <div class="form-group col-md-6 text-right">
          <label> المعرف الوحيد </label>
          <input type="text" class="form-control text-right" formControlName="matricule" required
          [(ngModel)]="selectedMissionnaire.matricule" 
          [ngClass]="{'is-invalid':missionnaireForm.get('matricule').touched && missionnaireForm.get('matricule').invalid}"

          >
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
          <label> Prenom </label>
          <input type="text" class="form-control" formControlName="prenomL" required
          [(ngModel)]="selectedMissionnaire.prenomL" 
          [ngClass]="{'is-invalid':missionnaireForm.get('prenomL').touched && missionnaireForm.get('prenomL').invalid}"

          >
        </div>

        <div class="form-group col-md-6 text-right">
            <label>الاسم</label>
            <input type="text" class="form-control text-right" formControlName="prenom" required
            [(ngModel)]="selectedMissionnaire.prenom" 
            [ngClass]="{'is-invalid':missionnaireForm.get('prenom').touched && missionnaireForm.get('prenom').invalid}"

            >
          </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6 ">
          <label> Nom </label>
          <input type="text" class="form-control" formControlName="nomL" required
          [(ngModel)]="selectedMissionnaire.nomL" 
          [ngClass]="{'is-invalid':missionnaireForm.get('nomL').touched && missionnaireForm.get('nomL').invalid}"

          >
        </div>

        <div class="form-group col-md-6 text-right">
          <label>اللقب  </label>
          <input type="text" class="form-control text-right" formControlName="nom" required
          [(ngModel)]="selectedMissionnaire.nom"
          [ngClass]="{'is-invalid':missionnaireForm.get('nom').touched && missionnaireForm.get('nom').invalid}"

          >
        </div>
    </div>
    <div class="row">
            <div class="form-group col-md-6">
              <label>Nationalite </label>
              <input type="text" class="form-control" formControlName="nationaliteL"  required
              [(ngModel)]="selectedMissionnaire.nationaliteL" 
              [ngClass]="{'is-invalid':missionnaireForm.get('nationaliteL').touched && missionnaireForm.get('nationaliteL').invalid}"

              > 
            </div>
            <div class="form-group col-md-6 text-right">
                <label>الجنسية</label>
                <input type="text" class="form-control text-right" formControlName="nationalite" required
                [(ngModel)]="selectedMissionnaire.nationalite" 
                [ngClass]="{'is-invalid':missionnaireForm.get('nationalite').touched && missionnaireForm.get('nationalite').invalid}"

                >
              </div>
    </div>
    <div class="row">

              <div class="form-group col-md-6 text-right">
               <label> الرتبة </label>
             <!-- <input list="browsers" name="browser"  class="form-control" formControlName="graade" (ngModel)="selectedMissionnaire.graade" [ngModel]="selectedMissionnaire.graade.libGrda">
               <datalist id="browsers">
                  <option *ngFor="let grade of grades" [ngValue]="grade" >{{grade.libGrda}}</option>
                
               </datalist>--> 
             
            <select class="form-control text-right"  formControlName="graade" [(ngModel)]="selectedMissionnaire.graade" required
>                
 
                  <option *ngFor="let grade of grades" [ngValue]="grade" >{{grade.libGrda}}</option>
                </select>
              </div>

              <div class="form-group col-md-6 text-right">
                <label>الوظيفة</label>
               <!--   <input list="fctM" name="fct" class="form-control" formControlName="fonnction" 
                required [ngModel]="selectedMissionnaire.fonnction.libFonca" >
             <datalist id="fctM">
                    <option *ngFor="let fonction of fonctions" [ngValue]="fonction">{{fonction.libFonca}}</option>
                </datalist>-->
               
                <select class="form-control text-right" formControlName="fonnction" [(ngModel)]="selectedMissionnaire.fonnction" required>
                
                  <option *ngFor="let fonction of fonctions" [ngValue]="fonction" >{{fonction.libFonca}}</option>
                </select>
              </div>
    </div>
    <div class="row">

              <div class="form-group col-md-6 text-right">
                  <label>صنف</label>
                  <select class="form-control text-right" formControlName="codCat" [(ngModel)]="selectedMissionnaire.codCat" required
                 >
                  
                    <option *ngFor="let categorie of categories" [ngValue]="categorie" >{{categorie.libCatAr}}</option>
                  </select>
                </div>
                
                <div class="form-group col-md-6 text-right">
                  <label>سلك</label>
                  <select class="form-control text-right" formControlName="classgrd" [(ngModel)]="selectedMissionnaire.classgrd" required

                  >
                    <option *ngFor="let classe of classes" [ngValue]="classe" >{{classe.libclassgrda}}</option>
                  </select>
              </div>
    </div>
    <div class="row">

               <div class="form-group col-md-6 text-right">
                  <label>المجموع</label>
                  <input type="text text-right" class="form-control" formControlName="groupe"  
                  [(ngModel)]="selectedMissionnaire.groupe" required
                  [ngClass]="{'is-invalid':missionnaireForm.get('groupe').touched && missionnaireForm.get('groupe').invalid}"

                  
                  >
                </div>
                <div class="form-group col-md-6 text-right">
                  <label>مستوى التاجير</label>
                  <input type="text" class="form-control text-right" formControlName="niveau" 
                  [(ngModel)]="selectedMissionnaire.niveau"  required
                  [ngClass]="{'is-invalid':missionnaireForm.get('niveau').touched && missionnaireForm.get('niveau').invalid}" >
               

                </div>
    </div>
              <div>
            <!-- <button class="btn btn-success"  
              (click)="operation == 'ADD' ? add() : operation=='EDIT'? update() : operation=='REMOVE'? remove() : '' ">
                {{ operation == 'ADD' ? 'اظافة' : operation == 'EDIT' ? 'تغيير':operation == 'REMOVE' ? 'حذف' : ''}}
                </button>--> 
              </div>
              <!-- Button trigger modal
<button type="button" class="btn btn-primary"  (click)="operation == 'ADD' ? add() : operation=='EDIT'? update() : operation=='REMOVE'? remove() : '' ">
  {{ operation == 'ADD' ? 'اظافة' : operation == 'EDIT' ? 'تغيير':operation == 'REMOVE' ? 'حذف' : ''}} [disabled]="!missionnaireForm.valid"
</button> -->

   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  >
  {{ operation == 'ADD' ? 'اظافة' : operation == 'EDIT' ? 'تغيير':operation == 'REMOVE' ? 'حذف' : ''}}</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
هل انت متاكد؟      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  >لا</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="operation == 'ADD' ? add() : operation=='EDIT'? update() : '' " >نعم</button>
      </div>
    </div>
  </div>
</div>
 
      </form>
</div>
</div>
</div>
</body>
</html>