
<div class="card">
    <div dir="rtl" lang="ar">
        <div class="card-header text-right" >
        تغيير المامورية
        
        </div>
        


            <div class="card-body">
        <div class="col-lg-12" >

                <table class="table table-hover table-bordered" >
                  <thead>
                    <tr>
                      <th>رقم بطاقة التعريف</th>
                      <th>الاسم</th>
                      <th>اللقب</th>
                      <th>تاريخ الذهاب</th>
                      <th>تاريخ الاياب</th>
                      <th> المدة</th>
                      <th>
                      <button class="btn btn-outline-primary" (click)="goToOrd()">اظافة</button>
                      </th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ordMiss of ordreMis" (click)="selectedMissionn(ordMiss)">
                      <td >{{ordMiss.cin}} </td> 
                      <td> {{ordMiss.missionnaire.prenom}}</td>
                      <td>{{ordMiss.missionnaire.nom}}</td>
                      <td>{{ordMiss.datarrP | date:'yyyy-MM-dd'}}</td>
                      <td>{{ordMiss.datdepP | date:'yyyy-MM-dd'}} </td> 
                      <td>{{ordMiss.duree}}</td>
                      <td><button class="btn btn-outline-primary" (click)="o=ordMiss;remove()" >حذف</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            

                <div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-right"> حذف المنتفع ينجر عنه حذف المصاريف و البلدان. هل انت متاكد؟      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="o=ordMiss;remove()">نعم</button>
                      </div>
                    </div>
                </div>
        </div>
      </div>

            <div class="col-lg-12" >

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>البلد </th>
                    <th>المدينة</th>
                    <th> وسيلة النقل</th>
                    <th> المدة</th>
                    <th> مصاريف المامورية</th>
                    <th> مصاريف النقل</th>
                    <a href="frais"><td><button class="btn btn-outline-primary" (click)="addFrais()">اظافة</button></a>
        
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of f">
                 <td>{{i.pays.libPaysa}}</td>
                 <td>{{i.NVille}}</td>
                 <td>{{i.typetransport}}</td>
                 <td>{{i.duree}}</td>
                  <td>{{i.valeurR}}</td>
                  <td>{{i.valeurP}}</td>
                  <td><button class="btn btn-outline-primary" (click)="fraisMission=i;removeFrais()" >حذف</button>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
              
</div>
</div>
    
  