<div clas="card" >
    <div *ngIf="changer==false">

          <div class="card-header ">
            <div class="search-missionnaire " dir="rtl">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="&#61442; ابحث هنا ">
            </div>
          </div>
          <div class="card-body">
            <div dir="rtl">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>رقم المامورية</th>
                    <th>الموضوع</th>
                    <th>تاريخ الذهاب</th>
                    <th>تاريخ الاياب</th>
  
                    <th>
                          <button class="btn btn-outline-primary" (click)="goToADD()">اظافة</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mission of missions | filter:searchText | paginate: { id: 'listing_pagination',
                  itemsPerPage: 10,
                  currentPage: page,
                  totalItems: totalRec}  ">
                    <td>{{mission.code}}/{{mission.numMission}} </td>
                    <td>{{mission.objeta}}</td>
                    <td>{{mission.datdepP | date:'yyyy-MM-dd'}}</td>
                    <td>{{mission.datarrP | date:'yyyy-MM-dd'}}</td>
                    <td>
                     <button class="btn btn-outline-primary"
                        (click)="selectedMission = mission;update();operation='EDIT';changer=true;" >تحيين</button>
                    </td>
                  </tr>
                </tbody>
              </table>  
              <div>
                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                  (pageChange)="page = $event" previousLabel="السابقة" nextLabel="الاخرى"></pagination-controls>
              </div>    
           
        
      </div>
     <!--[selectedMission]="selectedMission"-->
  
    </div ></div></div>
 
 <div *ngIf="changer==true">
    <app-one-mission [operation]="operation" [selectedMission]="selectedMission" ></app-one-mission>
 </div>
  
  