
          <div class="card" > 
              <div class="card-header">
             ادخال    
          </div>
    <div class="container"  >
    
        <div class="card">
        
            <div class="card-body">
                <h2 class="mb-0 text-center"> <span class="badge badge-secondary">{{y}}</span>
                </h2>
                <form [formGroup]="BudgetDeptForm" (ngSubmit)="BudgetDeptForm.valid">
                    <div class="row">
                    <div class="form-group col-md-6 text-right">
                        <label >المرجع </label>
                        <input type="text" class="form-control" formControlName="reference_mis" [(ngModel)]="selectedBudget.reference_mis" 
                        [ngClass]="{'is-invalid':BudgetDeptForm.get('reference_mis').touched && BudgetDeptForm.get('reference_mis').invalid}" 
  
                       > 
                    </div>
                  <div class="form-group col-md-6 text-right">
                      <label > اعتمادات المامورية </label>
                      <input type="number" class="form-control" formControlName="valeur_miss"  [(ngModel)]="selectedBudget.valeur_miss"    >
                  </div>
               
    </div>

    <div class="row">
        <div class="form-group col-md-6 text-right">
            <label >المرجع </label>
            <input type="text" class="form-control" formControlName="reference_tr" [(ngModel)]="selectedBudget.reference_tr"
            [ngClass]="{'is-invalid':BudgetDeptForm.get('reference_tr').touched && BudgetDeptForm.get('reference_tr').invalid}" 

            > 
        </div>
        <div class="form-group col-md-6 text-right">
            <label > اعتمادات النقل </label>
            <input type="number" class="form-control" formControlName="valeur_tr" [(ngModel)]="selectedBudget.valeur_tr"
            [ngClass]="{'is-invalid':BudgetDeptForm.get('valeur_tr').touched && BudgetDeptForm.get('valeur_tr').invalid}" 

            >
        </div>
      
    </div>
    
    
    <div>
        <button class="btn btn-success" (click)="add()" [disabled]="!BudgetDeptForm.valid">
          إدخال  
        </button>
      </div>
    </form>
    </div>
    </div>
    </div>
  </div>