<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="card">
<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-info btn-circle">1</button>
            <p>ادخال مامورية</p>

        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" (click)="goToOrdMiss()" [disabled]="!validOrd">2</button>
            <p>اضافة منتفع بالمامورية</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" (click)="goToFrais()"  [disabled]="!validFrais">3</button>
            <p>اضافة المصاريف</p>
        </div> 
    </div>
</div>
<app-ajout-mission *ngIf="affich==true"></app-ajout-mission>
</div>