<!------ Include the above in your HEAD tag ---------->

  <div class="card" dir="rtl" lang="ar">
	<div class="row">
		<div class="col-md-6 text-center " style="align-items: center; right: 25%;margin-bottom: 3%;margin-top:3%;">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">  تغيير كلمة العبور </h2>
                  <div class="panel-body"  >
    
                     <div  >
                        <div class="input-group" >

                          <input type="password"  name="password" placeholder=" كلمة العبور" class="form-control " autocomplete="off">

                        
<div class="input-group">

                          
                            <input type="password"  name="password1" placeholder="كلمة العبور الجديدة"  [(ngModel)]="newPassword" class="form-control" autocomplete="off">
  
                          </div>
                          <div class="input-group">

                      
                          
                              <input type="password"  name="password2" placeholder="اعادة ادخال كلمة العبور" ([ngModel])="newPassword2" class="form-control" autocomplete="off">
    
                            
                    </div>
  
                      </div>
                      <div >
                          <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"  (click)="verifier()" >الدخول</button>

                      </div>
                      
              
    
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
  </div>
</div>