<div class="card">
  <div class="card-header text-right" style="background-color: #F6E7D2;" >
  اعتمادات المشاريع</div>
  <div class="card-body">
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="row " dir="rtl" lang="ar">
                <div class="col-md-12  text-right">
                  <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>اعتمادات المامورية </th>
                          <th>المرجع</th>
                          <th>تاريخ الادخال</th>
                          <th>تاريخ المصادقة</th>
                          <th *ngIf="val==false">
                            <a href="budgetProj#OneBudget"><button class="btn btn-outline-primary"  (click)="operationBudg='ADD';" [disabled]="enabled==false" >اظافة</button></a> 
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let budget of budgets">
                          <td>{{budget.valeur}}</td>
                          <td>{{budget.reference}}</td>
                          <td>{{budget.dateBproj| date:'yyyy-MM-dd' }}</td>
                          <td>{{budget.dateVal| date:'yyyy-MM-dd'}}</td>
                          <td >
                           <a href="budgetProj#OneBudget"><button class="btn btn-outline-primary" *ngIf="budget.dateVal=== null || budget.dateVal===undefined"
                              (click)="operationBudg='EDIT';  selectedBudgetProj=budget">تغيير</button> </a>  
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6  text-right">
                  <label> {{somme!='null' ? somme  : ''}} </label>
                  <label> مجموع الاعتمادات المرصودة </label>
                  </div>
                  </div>
                </div>
        <div class="card" *ngIf="operationBudg=='EDIT'|| operationBudg=='ADD'" id="OneBudget">
        <div class="card-header text-right" style="background-color: #F6E7D2;">{{operationBudg == 'ADD' ? ' ادخال اعتمادات المشروع':
        operationBudg == 'EDIT' ? 'تغيير اعتمادات المشروع':''}} </div>
            <div class="container"  >
            
                    <div class="card-body ">
                        <h2 class="mb-0 text-center"> <span class="badge badge-secondary">{{y}}</span>
                        </h2>
                      <form [formGroup]="BudgetProjForm" (ngSubmit)="BudgetProjForm.valid" >
                        <div class="row" dir="rtl" lang="ar">
                            <div class="form-group col-md-6 text-right" >
                                <label >المشروع </label>
                                <select class="form-control" formControlName="codPrj" [(ngModel)]="selectedBudgetProj.codPrj">
                                    <option *ngFor="let projet of projets" [ngValue]="projet.codPrj">{{projet.libprjA}}</option>
                                  </select>    
                                </div>
                            </div>
            <div class="row">
                <div class="form-group col-md-6 text-right">
                    <label >المرجع</label>
                    <input type="text" class="form-control" formControlName="reference" [(ngModel)]="selectedBudgetProj.reference"
                    [ngClass]="{'is-invalid':BudgetProjForm.get('reference').touched && BudgetProjForm.get('reference').invalid}" 

                    > 
                </div>
                <div class="form-group col-md-6 text-right">
                    <label >الاعتمادات</label>
                    <input type="number" class="form-control" formControlName="valeur" [(ngModel)]="selectedBudgetProj.valeur"
                    [ngClass]="{'is-invalid':BudgetProjForm.get('valeur').touched && BudgetProjForm.get('valeur').invalid}" 

                    >
                </div>
            </div>
            </form>
          
          
            <div>
                <button class="btn btn-success" (click)="operationBudg == 'ADD' ? add() : operationBudg=='EDIT'? update(): '' ; initialiser();"  [disabled]="!BudgetProjForm.valid">
                  إدخال  
                </button>
            
            </div>
     
            </div>
            </div>
        </div>
  
          
  
  
            
              
    </div>
  </div>           
</div>
</div>

  
  