<div class="card">
  <div class="row" dir="rtl" *ngIf="show==false">
      <div class="col-md-12">
        <div class="alert alert-danger text-right" role="alert">
            <h4 class="alert-heading">لا توجد ماموريات في انتضار المصادقة حاليا </h4>
            <hr>
            <p> الرجاء التثبت </p>
          
          </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="show==true">
    <div class="card-header">
        <div class="search-missionnaire" dir="rtl">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
              placeholder="&#61442; ابحث هنا ">
        </div>
    </div>
    <div class="card-body" dir="rtl">
        <div class="col-md-12  text-right">
    <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>اعتمادات المامورية </th>
            <th>المرجع</th>
            <th>اعتمادات النقل</th>
            <th>المرجع</th>
            <th>تاريخ الادخال </th>
            <th>تاريخ المصادقة</th>
            <th>المؤسسة</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let budget of budgets | filter:searchText | paginate: { id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: totalRec}" (click)="selected() ; selectedBudget=budget">
            <td> {{budget.valeur_miss}}</td>
            <td>{{budget.reference_mis}}</td>
            <td> {{budget.valeur_tr}}</td>
            <td>{{budget.reference_tr}}</td>
            <td>{{budget.date_budg | date:'yyyy-MM-dd'}}</td>
            <td>{{budget.date_val | date:'yyyy-MM-dd'}}</td>
            <td>{{budget.depart.libA}}</td>
          </tr>
        </tbody>
      </table>
      <div>
          <pagination-controls id="listing_pagination" maxSize="10" directionLinks="true"
            (pageChange)="page = $event" previousLabel="السابقة" nextLabel="الاخرى"></pagination-controls>
        </div>  
    </div>
</div>
</div>
<div class="card" *ngIf="select==true">
    <div class="card-body">
          <div class="row" >
          <div class="form-group col-md-12  text-right" >
            <label> المؤسسة </label>
            <label class="form-control" >{{selectedBudget.depart.libA}}</label>
          </div>
        </div>
        <div class="row" >
            <div class="form-group col-md-12  text-right" >
             <h4><label> اعتمادات المؤسسة </label></h4> 
            </div>
          </div>
          <div class="row" dir="rtl">
              <div class="form-group col-md-6  text-right" >
              <label>مبلغ المامورية </label>
              <label class="form-control" >{{selectedBudget.valeur_miss}}</label>


              </div>
                <div class="form-group col-md-6  text-right" >
                 <label> المرجع </label>
                 <label class="form-control" >{{selectedBudget.reference_mis}}</label>

                </div>
              </div>
              <div class="row" dir="rtl">
                  <div class="form-group col-md-6  text-right" >
                <label>مبلغ النقل </label>
                <label class="form-control" >{{selectedBudget.valeur_tr}}</label>

                  </div>
                    <div class="form-group col-md-6  text-right" >
                 <label> المرجع </label>
                 <label class="form-control" >{{selectedBudget.reference_tr}}</label>

                    </div>
                  </div>
                  <button type="button" class="btn btn-danger">الغاء
                    </button>
                    <button type="button" class="btn btn-primary" (click)="valider()">مصادقة
                      </button>
    
                    
                  
</div>

</div>