<div class="card" >
  <div class="card-header">
ادخال
</div>
      <div class="card-body ">
                    <h2 class="mb-0 text-center"> <span class="badge badge-secondary">{{y}}</span>
                    </h2>
                  <form [formGroup]="BudgetProjForm"  (ngSubmit)="BudgetProjForm.valid">
                    <div class="row" dir="rtl" lang="ar">
                        <div class="form-group col-md-6 text-right" >
                            <label >المشروع </label>
                            <select class="form-control" formControlName="codPrj" [(ngModel)]="selectedBudgetProj.codPrj">
                                <option *ngFor="let projet of projets" [ngValue]="projet.codPrj">{{projet.libprjA}}</option>
                              </select>    
                            </div>
                    <!--  <input type="text" formControlName="code" [(ngModel)]="codeDept" hidden>
                            <input type="date" formControlName="dateBproj" [(ngModel)]="dateSys" hidden>-->  
                        </div>
        <div class="row">
            <div class="form-group col-md-6 text-right">
                <label >المرجع</label>
                <input type="text" class="form-control" formControlName="reference" [(ngModel)]="selectedBudgetProj.reference"
                [ngClass]="{'is-invalid':BudgetProjForm.get('reference').touched && BudgetProjForm.get('reference').invalid}" 
                > 
            </div>
            <div class="form-group col-md-6 text-right">
                <label >الاعتمادات</label>
                <input type="number" class="form-control" formControlName="valeur" [(ngModel)]="selectedBudgetProj.valeur"
                [ngClass]="{'is-invalid':BudgetProjForm.get('valeur').touched && BudgetProjForm.get('valeur').invalid}" 

                >
            </div>
        </div>
        </form>
      
      
        <div>
            <button class="btn btn-success" (click)="add()"  [disabled]="!BudgetProjForm.valid">
              إدخال  
            </button>
        
        </div>
 
        </div>
    </div>